body{
    background-size: cover;
}
canvas {
    
    border: rgb(255, 255, 255) 4px ridge;
    animation-name: S;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes S {
    from{box-shadow: 1px 1px 35px rgb(251, 255, 0);}
    to{box-shadow: 1px 1px 35px rgb(0, 255, 34);} 
}